name: Format

on:
  push:
    branches:
      - main
    paths:
      - "**/*.ts"
      - "**/*.js"
      - "**/*.mjs"
      - "**/*.json"
      - "**/*.md"
      - ".prettierrc"
      - "package.json"
      - "yarn.lock"
  pull_request:
    paths:
      - "**/*.ts"
      - "**/*.js"
      - "**/*.mjs"
      - "**/*.json"
      - "**/*.md"
      - ".prettierrc"
      - "package.json"
      - "yarn.lock"

jobs:
  call-ci:
    uses: ./.github/workflows/ci.yml
    secrets: inherit
