name: Tests

on:
  push:
    branches:
      - main
    paths:
      - "**/*.ts"
      - "**/*.js"
      - "**/*.mjs"
      - "apps/**"
      - "packages/**"
      - "nx.json"
      - "tsconfig.base.json"
      - "package.json"
      - "yarn.lock"
  pull_request:
    paths:
      - "**/*.ts"
      - "**/*.js"
      - "**/*.mjs"
      - "apps/**"
      - "packages/**"
      - "nx.json"
      - "tsconfig.base.json"
      - "package.json"
      - "yarn.lock"

jobs:
  call-ci:
    uses: ./.github/workflows/ci.yml
    secrets: inherit
